body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #007bff;
}

p {
    color: #666;
}

header {
    text-align: center;
    position: relative;
    width: 100%;
}

.title {
    color: rgb(35, 32, 24);
    width: 100%;
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
}

#container-filtros {
    display: inline-flexbox;
    flex-wrap: nowrap;
}

.filtro-data {
    border-radius: 4px;
    border-width: 2px;
    border-style: ridge;
    padding: 4px 20px;
}

.botao-normal {
    background-color: #007bff;
    color: white;
    padding: 6px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-content: center;
    align-self: self-end;
}

.botao-icone {
    background-color: #007bff;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-content: center;
    align-self: center;
    margin-right: 4px;
}

.botao-cancelar {
    background-color: #7e7e7e;
    color: white;
    padding: 6px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-content: center;
    align-self: self-end;
}

.botao-cancelar:hover {
    background-color: #646464;
    cursor: pointer;
}

.botao-normal:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.botao-icone:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.tabela-agendamentos {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
.tabela-agendamentos td, .tabela-agendamentos th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tabela-agendamentos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #007bff;
    color: white;
}

section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.conteudo-centralizado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-alinhamento-final {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    align-content: space-between;
}

.conteudo-alinhamento-inicio {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    align-content: space-between;
    flex-grow: 2;
}